body{
  font-family: 'Montserrat', sans-serif;
  margin: 3em;
}

input{
  line-height: 5em ;
}


.App {
  text-align: center;
}

/* .title{
  /* font-family: 'Marmelad, sans-serif'; */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

